
        body{
        background-color:#FFEFD5;
        }

        hr
        {
        border-style:none;
        border-top-style:dotted;
        width:5%;
        border-width:5px
        }
h1{
color:#EE82EE
}
h3{
color:#7B68EE
}